* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

.google-sans-font {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
.main {
  background-color: #1a0b2e;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar button {
  background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
  padding: 10px 12px;
  border-radius: 30px;
}
.list-items {
  display: flex;
  list-style: none;
  font-style: none;
  gap: 10px;
}
.hero-section-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-section {
  position: relative;
}

.hero-mic-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  height: 260px;
}

.mic-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mic-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero-section-2 {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section-2-button {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.btn-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
  color: white;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-1 img,
.btn-2 img {
  width: 15px;
  height: 15px;
}

.btn-2:hover,
.btn-1:hover {
  background-color: #a8e6a1;
  color: black;
}
.about-section {
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.about-section h1 {
  font-size: 42px;
  margin-bottom: 25px;
}
.about-text {
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  color: #d6d6d6;
  line-height: 1.6;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: 50px auto;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.stat-box h2 {
  font-size: 40px;
  color: #00ff99;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 14px;
  color: #cfcfcf;
  letter-spacing: 1px;
}
.why-section {
  padding: 80px 40px;
  text-align: center;
}

.why-section h2,
h3 {
  font-size: 38px;
  margin-bottom: 50px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio mobile mobile"
    "audio community community"
    "interview interview resources";
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #2a0a4d;
  padding: 30px;
  border-radius: 25px;
  text-align: left;
}

.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.community {
  grid-area: community;
}

.interview {
  grid-area: interview;
}

.resources {
  grid-area: resources;
}

.card img {
  width: 40px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #d1cfe0;
  line-height: 1.6;
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "community"
      "interview"
      "resources";
  }
}
.featured-section {
  padding: 80px 40px;
  text-align: center;
}

.featured-section h2 {
  font-size: 36px;
  margin-bottom: 50px;
  color: white;
}

.episode-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.episode-card {
  background-color: #2a0a4d;
  border-radius: 25px;
  padding: 20px;
  text-align: left;
}

.episode-img {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.episode-img img:first-child {
  width: 100%;
  display: block;
}

.play-btn {
  width: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.episode-card h3 {
  margin: 20px 0 10px;
}
.episode-card p {
  font-size: 14px;
  color: #d1cfe0;
  line-height: 1.6;
}
.time {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
  color: #00ff99;
  font-size: 14px;
}
.time img {
  width: 16px;
}
.host-section {
  padding: 80px 40px;
  text-align: center;
}

.host-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: white;
}

.host-card {
  max-width: 1100px;
  margin: auto;
  background-color: #2a0a4d;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.host-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.host-info {
  text-align: left;
}

.host-info h3 {
  margin-bottom: 10px;
}

.host-info p {
  font-size: 14px;
  color: #d1cfe0;
  line-height: 1.7;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.social-icons img {
  width: 30px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 30px;
}

@media (max-width: 576px) {
  .episode-container {
    grid-template-columns: 1fr;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
  }

  .host-info {
    text-align: center;
  }
}
.footer {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}
.footer .bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.content {
  z-index: 1;
}
.logo {
  width: 300px;
  margin-bottom: 30px;
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.icons img {
  width: 30px;
  border: 2px solid black;
  border-radius: 15px;
}

.copyright {
  font-size: 14px;
}
@media (max-width: 576px) {
 
  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 15px 0;
  }

  .list-items {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .mic-bg,.mic-img {
    width: 200px;
  }

  .hero-section-2 {
    top: 75%;
    width: 90%;
    text-align: center;
  }

  /* Hero buttons */
  .hero-section-2-button {
    flex-direction: column;
    gap: 15px;
  }

  .btn-1,
  .btn-2 {
    width: 100%;
    justify-content: center;
  }

  .about-section h1 {
    font-size: 28px;
  }

  .about-text {
    font-size: 14px;
  }

  .stats {
    flex-direction: column;
    gap: 25px;
  }

  .stat-box h2 {
    font-size: 32px;
  }

  .episode-container {
    grid-template-columns: 1fr;
  }

  .host-card {
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }

  .host-img {
    width: 150px;
    height: 150px;
  }

  .host-info {
    text-align: center;
  }

  .footer {
    height: auto;
    padding: 80px 20px;
  }

  .logo {
    width: 220px;
  }

  .icons {
    flex-direction: column;
    gap: 15px;
  }

  .icons img {
    width: 28px;
  }

  .copyright {
    font-size: 12px;
  }
  .hero-mic-wrapper {
    width: 180px;
    height: 180px;
  }

  .mic-img {
    width: 80px;
  }
  @media (max-width: 576px) {

  .hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-mic-wrapper {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 30px;
  }

  .hero-section-2 {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 30px;
    text-align: center;
    width: 90%;
  }

}

}
