* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

.google-sans-font {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
.main {
  background-color: #1a0b2e;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar button {
  background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
  padding: 10px 12px;
  border-radius: 30px;
}
.list-items {
  display: flex;
  list-style: none;
  font-style: none;
  gap: 10px;
}
.hero-section-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-section-img-2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-img-3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-2 {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:70%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section-2-button {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}
.btn-1{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
    color: white;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease;

}
.btn-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: 2px solid green; 
    border-radius: 30px;
    cursor: pointer; 
    transition: all 0.3s ease;
}

.btn-1 img,.btn-2 img {
    width: 15px;
    height: 15px;
}

.btn-2:hover,.btn-1:hover {
    background-color:#a8e6a1;
    color: black;
}

