* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

.google-sans-font {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
.main {
  background-color: #1a0b2e;
}
.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar button {
  background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
  padding: 10px 12px;
  border-radius: 30px;
}
.list-items {
  display: flex;
  list-style: none;
  font-style: none;
  gap: 10px;
}
.hero-section-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-section-img-2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-img-3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section-2 {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.hero-section-2-button {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.btn-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background: linear-gradient(to right, #f8ad5e, #fb09b4, #a902e8);
  color: white;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-2 {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: 2px solid green;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-1 img,
.btn-2 img {
  width: 15px;
  height: 15px;
}

.btn-2:hover,
.btn-1:hover {
  background-color: #a8e6a1;
  color: black;
}
.about-section {
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.about-section h1 {
  font-size: 42px;
  margin-bottom: 25px;
}
.about-text {
  max-width: 800px;
  margin: 10px auto;
  font-size: 16px;
  color: #d6d6d6;
  line-height: 1.6;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: white;
  margin: 50px auto;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.stat-box h2 {
  font-size: 40px;
  color: #00ff99;
  margin-bottom: 8px;
}

.stat-box span {
  font-size: 14px;
  color: #cfcfcf;
  letter-spacing: 1px;
}
.why-section {
  padding: 80px 40px;
  text-align: center;
}

.why-section h2,h3 {
  font-size: 38px;
  margin-bottom: 50px;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "audio mobile mobile"
    "audio community community"
    "interview interview resources";
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.card {
  background-color: #2a0a4d;
  padding: 30px;
  border-radius: 25px;
  text-align: left;
}

.audio {
  grid-area: audio;
}

.mobile {
  grid-area: mobile;
}

.community {
  grid-area: community;
}

.interview {
  grid-area: interview;
}

.resources {
  grid-area: resources;
}

.card img {
  width: 40px;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #d1cfe0;
  line-height: 1.6;
}

@media (max-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "audio"
      "mobile"
      "community"
      "interview"
      "resources";
  }
}
